@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Popings", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary: #56357c;
    --background-dark: rgb(0, 0, 0);
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

::selection {
    color: black;
    background-color: white;
}

body,
html {
    -webkit-user-drag: false;
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    transition: 0.5s;
    overflow-x: hidden;
}

body {
    background-color: #000000;
}

.bright-mode {
    background-color: var(--primary);
}

.dark-mode-btn {
    cursor: pointer;
    position: fixed;
    height: 4rem;
    width: 4rem;

    right: 10px;
    bottom: 10px;

    display: flex;
    justify-content: center;

    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 100;

    transition: 0.3s ease;
    overflow: hidden;
}

.dark-mode-btn .darkModeIcon {
    padding: 0.7rem;
    transition: .7s ease;
}

.dark-mode-btn:hover .darkModeIcon {
    transform: rotate(120deg);
}

a {
    text-decoration: none;
}

/* NAVBAR */
.nav {
    position: sticky;
    align-items: center;
    width: 100%;
    top: 0px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem 2rem;
    color: #fff;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}

li a {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
}

li a:hover {
    cursor: pointer;
    color: #cacaca;
}

.navMobile {
    position: block;
    position: fixed;
    justify-content: center;
    text-align: center;
    width: 100%;
    top: 0px;
    display: flex;
    padding: 0.5rem 2rem;
    color: #fff;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid #ffffff81;
    z-index: 1;
    animation: navMobileIn 0.3s;
}

main {
    overflow-x: hidden;
}

.container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem 1rem;
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    /* CONTAINER DEBUG */
    /* border: 1px solid red; */
}

.container div {
    max-width: 50%;
}

.container h3 {
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.container .italy {
    display: inline-block;
    font-style: italic;
    opacity: 0.5;
    margin-left: 1rem;
}

.container p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.container .bg-t {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    background-color: #fff;
    color: #1c1c1c;
    border-radius: 10px;
}

.container .btn {
    display: inline-block;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: #1c1c1c;
    box-shadow: var(--shadow);
}

.kiipMobile {
    object-fit: contain;
    margin: 1rem;
    width: 13rem;
    top: 130px;
    left: -30px;
    transition: 0.05s;
    animation: transitionIn 1s ease 1;
    box-shadow: var(--shadow);
}

.c2 {
    flex-direction: row-reverse;
}

.date {
    font-style: italic;
}

.projectIcon {
    object-fit: contain;
    margin: 1rem;
    width: 13rem;
    top: 130px;
    left: -30px;
    border-radius: 50%;
    transition: 1s;
    animation: transitionIn 2s ease 1;
    box-shadow: var(--shadow);
}

.projectKIIP {}

.projectAManager {
    flex-direction: row;
}

.projectPeriodicTablet {}

.projectOffLimits {
    flex-direction: row;
}

.gitHubIcon {
    box-shadow: var(--shadow);
    transition: 0.3s ease;
    animation: transitionIn 3s ease 1;
}

.gitHubIcon:hover {
    transform: scale(1.1);
}

/* Bubbles */

.bubbleContainer {}

.bubble1 {
    position: absolute;
    height: 350px;
    width: 150px;
    border: 100%;
    background-color: rgb(79, 163, 184);
    filter: blur(90px);
    -webkit-filter: blur(90px);
    animation: bubble1Idle1 80s ease infinite;
}

.bubble2 {
    position: absolute;
    height: 350px;
    width: 150px;
    border: 100%;
    background-color: rgb(107, 231, 221);
    filter: blur(90px);
    -webkit-filter: blur(90px);
    animation: bubble1Idle2 80s ease infinite;
}

.bubble3 {
    position: absolute;
    height: 350px;
    width: 150px;
    border: 100%;
    background-color: rgb(107, 231, 221);
    filter: blur(90px);
    -webkit-filter: blur(90px);
    animation: bubble1Idle3 50s ease infinite;
}
.bubble4 {
    position: absolute;
    height: 350px;
    width: 150px;
    border: 100%;
    background-color: rgb(107, 231, 221);
    filter: blur(90px);
    -webkit-filter: blur(90px);
    animation: bubble1Idle4 50s ease infinite;
}

@keyframes bubble1Idle1 {
    0% {
        height: 950px;
        width: 150px;
        top: 0%;
        left: 0%;
        rotate: 10deg;
        background-color: rgb(79, 163, 184);
    }

    50% {
        height: 250px;
        width: 450px;
        top: 5%;
        left: 20%;
        rotate: 70deg;
        background-color: rgb(125, 79, 184);
    }

    100% {
        height: 950px;
        width: 150px;
        top: 0%;
        left: 0%;
        rotate: 10deg;
        background-color: rgb(79, 163, 184);
    }
}

@keyframes bubble1Idle2 {
    0% {
        height: 350px;
        width: 150px;
        top: 60%;
        left: 90%;
        rotate: 10deg;
        background-color: rgb(184, 79, 170);
    }

    50% {
        height: 250px;
        width: 450px;
        top: 10%;
        left: 0%;
        rotate: 70deg;
        background-color: rgb(184, 79, 93);
    }

    100% {
        height: 350px;
        width: 150px;
        top: 60%;
        left: 90%;
        rotate: 10deg;
        background-color: rgb(184, 79, 170);
    }
}

@keyframes bubble1Idle3 {
    0% {
        height: 150px;
        width: 150px;
        top: 80%;
        left: 10%;
        background-color: rgb(79, 184, 97);
    }

    50% {
        height: 250px;
        width: 950px;
        top: 50%;
        left: 70%;
        background-color: rgb(231, 87, 68);
    }

    100% {
        height: 150px;
        width: 150px;
        top: 80%;
        left: 10%;
        background-color: rgb(79, 184, 97);
    }
}
@keyframes bubble1Idle4 {
    0% {
        height: 80px;
        height: 80px;
        top: 78%;
        left: 8%;
        background-color: rgb(243, 43, 43);
    }

    50% {
        height: 180px;
        height: 180px;
        top: 48%;
        left: 68%;
        background-color: rgb(231, 68, 204);
    }

    100% {
        height: 80px;
        height: 80px;
        top: 78%;
        left: 8%;
        background-color: rgb(243, 43, 43);
    }
}

@keyframes idleRotate {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 5deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes transitionIn {
    0% {
        margin-top: 130px;
    }

    100% {
        margin-top: 1rem;
    }
}

@keyframes navMobileIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #ffffff2c;
}

/* 3xl */
@media (max-width: 1920px) {
    .container {
        max-width: 1536px;
    }
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .projectIcon {
        width: 11rem;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .projectIcon {
        width: 10rem;
    }

    .dark-mode-btn {
        cursor: pointer;
        position: fixed;
        height: 3.5rem;
        width: 3.5rem;
    }
}

/* sm */
@media (max-width: 640px) {
    li a {
        font-size: 1.3rem;
    }

    .container {
        max-width: 475px;
    }

    .dark-mode-btn {
        cursor: pointer;
        position: fixed;
        height: 3rem;
        width: 3rem;
    }
}

/* xs */
@media (max-width: 475px) {
    * {
        overflow-x: hidden;
    }

    li a {
        font-size: 0.8rem;
    }

    .container {
        max-width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container h3 {
        text-align: center;
    }

    .container div {
        max-width: 100%;
    }

    .projectIcon {
        width: 8rem;
    }

    .c3 {
        flex-direction: column;
    }

    .dark-mode-btn {
        cursor: pointer;
        position: fixed;
        height: 2.5rem;
        width: 2.5rem;
    }
}