/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --d-background: #09090b;
    --background: #fafafa;
    --d-text: #fafafa;
    --text: #09090b;
    --o-text: #b1b1b1;
    --border: #ffffff33;
}

body {
    color: var(--d-text);
    background-color: var(--d-background);
    scroll-behavior: smooth;
    transition: 1s ease;
}

/* Nav Bar */

nav {
    font-size: 16px;
    margin: 1rem 1rem;
    text-align: center;
}

nav a {
    margin: 2rem;
    color: var(--o-text);
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: var(--d-text);
}

/* End Nav Bar */

/* Hero Section */

.hero {
    padding: 6rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero .title {
    margin: 0.5rem 0rem;
    font-size: 48px;
    text-align: center;
}

.hero .description {
    margin: 0.5rem 0rem;
    font-size: 18px;
    max-width: 650px;
    text-align: center;
}

/* End Hero Section */

/* Generic */

.btn-container {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn {
    cursor: pointer;
    color: var(--d-text);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem 1rem;
    color: var(--text);
    background: var(--background);
    border-radius: 6px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.btn-s {
    cursor: pointer;
    color: var(--d-text);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem 1rem;
    color: var(--d-text);
    background: var(--d-background);
    border: 1px solid var(--border);
    border-radius: 6px;
}

.btn-s:hover {
    background-color: var(--border);
    border: 1px solid transparent;
}

/* End Generic */

/* Project Section */

.projects {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 80%;
    margin: auto;
}

.projects .navigation {
    margin: 0.5rem 0rem;
}

.navigation a {
    cursor: pointer;
    color: var(--o-text);
    float: left;
    padding: .4rem .8rem;
    transition: 0.2s;
}

.navigation a:hover {
    color: var(--d-text);
}

.navActiveText {
    color: var(--d-text) !important;
    background-color: var(--border);
    border-radius: 20px;
}

.project {
    display: none;
    margin: 1rem 0rem;
    margin-bottom: 0rem;
    border: 1px solid var(--border);
    padding: 1rem;
    /* height: 800px; */
    border-radius: 10px;
    animation: fadeIn .5s ease 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.project iframe {
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
}

.projectShow {
    display: block;
}

.projectInfo {
    padding: 1rem;
    color: var(--d-text);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* border: 1px solid var(--border); */
    border-radius: 5px;
}

.projectInfo div {
    margin: auto;
}

.projectInfo img {
    height: 10rem;
    width: 10rem;
    margin: auto;
    border-radius: 5px;
}

.projectInfo iframe {
    width: 100%;
}

.projectInfo .date {
    margin: 0.5rem;
    color: grey;
}

.projectInfo .description {
    margin: 0.5rem 0rem;
}

.projectInfo .btn-container {
    margin: 0 0 0.5rem 0;
}

.imageSlider {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    flex-direction: row;
    gap: 1rem;
}

.imageSlider img {
    cursor: zoom-in;
    border-radius: 5px;
    width: 20%;
    transition: .3s;
}

.imageEnlarge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1.3);
    cursor: zoom-out;
    box-shadow: 0px 0px 500px black, 0px 0px 500px black, 0px 0px 500px black;
}

/* End Project Section */

/* About Section */

.about {
    width: 80%;
    margin: auto;
    padding: 6rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* End About Section*/

/* Footer */

footer {
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    width: 100%;
    color: var(--d-text);
    text-align: center;
    background-color: var(--d-background);
}

/* End Footer */

/* Media Query */

@media (max-width: 975px) 
{
    .imageSlider img {
        width: 30%;
    }
}

@media (max-width: 675px) {
    .hero {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .imageSlider {
        flex-direction: column;
    }

    .imageSlider img {
        width: 100%;
    }
    
}

@media (max-width: 475px) {
    .hero {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .projectInfo {
        flex-direction: column;
    }

    .projects {
        max-width: 90%;
    }
}

/* Media Query */