@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color: rgb(110, 55, 211);
}

body {
    min-height: 100vh;
}

footer {
    background-color: #1c1c1c;
    padding: 1.3rem;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    background: url('Assets/Footer.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid #fff;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.logo:hover {
    color: rgb(110, 55, 211)
}

.navbar a {
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .3s ease-in-out;
}

.navbar a:hover {
    color: #d6d6d6;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

button {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    background-color: #1c1c1c;
    border-radius: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: .1px solid gray;
    transition: .3s ease-in-out;
}

button:hover {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.bio .prof {
    margin: 1rem;
    width: 15%;
}

.lp1 {
    height: 100vh;
    background: url('Assets/LandingPageBG3.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container {
    color: #fff;
    position: relative;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.3rem;
    border-radius: .5rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .3s ease-in-out;
}

.container p {
    margin-bottom: 0.5rem;
}

.container p {
    margin-bottom: 0.5rem;
}

.container img {
    width: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .3s ease-in-out;
}

a {
    text-decoration: none;
}

.lp2 {
    height: 100vh;
    background: url('Assets/LandingPageBG2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.buttonContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.lp2 .buttonContainer div {
    margin: auto;
    color: #fff;
    position: relative;
    top: 500px;
    height: 5px;
    width: auto;
    transform: translate(-50%, -50%);
    padding: 1.3rem;
    border-radius: .5rem;
    border: .1px solid gray;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .3s ease-in-out;
}

.lp3 {
    height: 100vh;
    background: url('Assets/LandingPageBG1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.lp3 h2 {
    margin-bottom: 0.5rem;
}

.lp3 form {
    display: flex;
    flex-direction: column;
}

.lp3 input,
textarea {
    background-color: #1c1c1c;
    color: #fff;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .5rem;
    border: .1px solid gray;
    resize: none;
}

.lp3 textarea:focus,
input:focus {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .5rem;
    border: 1px solid white;
    resize: none;
    outline: none;
}

.lp3 button {
    margin-top: 0.5rem;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
        transition: 0.3s ease-in-out;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-open-icon {
        display: none;
    }

    .icons #menu-close-icon {
        display: none;
    }

    #check:checked~.icons #menu-close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(50px);
        -webkit-background-color: rgba(0, 0, 0, 0.2);
        -webkit-backdrop-filter: blur(50px);
        overflow: hidden;
        transition: 0.3s ease-in-out;
        border-bottom: 1px solid #fff;
    }

    #check:checked~.navbar {
        height: 10rem;
        border-bottom: 1px solid #fff;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50);
    }

    .lp1 .container-bio {
        min-width: 200px;
    }

    .lp1 .container-latestproject {
        min-width: 200px;
    }

    .lp3 .container {
        min-width: 200px;
    }

    .bio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bio .prof {
        height: 150px;
        width: 150px;
    }
}

.disabled {
    color: gray;
    cursor: wait;
}